:root {
  --default-size: 20px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f7f8fc;
  min-height: 100vh;
  height: 100%;

  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif, serif;
}

h1,
h2,
p {
  margin: 0;
}

img {
  user-select: none;
}

/* main content*/
.main {
  display: grid;
  gap: 0px;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
}

/*header section starts here*/
.header {
  position: sticky;
  gap: 20px;
  padding: 20px 60px;
  grid-area: header;
  border: none;
  background-color: #e0f2fe;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "search search-profile" "profile-info profile-btn";
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.search {
  grid-area: search;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
  background-color: #0369a1;
  border: none;
  min-width: 50px;
  margin: 0 20px;
  border-radius: 20px;
  height: 30px;
  flex: 1;
}

.search-profile {
  gap: 30px;
  grid-area: search-profile;
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  justify-items: right;
  align-items: center;
}

.search-profile svg {
  justify-self: right;
}
.search-profile img {
  justify-self: right;
  width: 40px;
  height: 40px;
}
.search-profile :first-child {
  width: 30px;
}
.profile-info {
  display: flex;
  gap: 20px;
}
.profile-info img {
  height: 60px;
}
.profile-info p {
  font-size: large;
  font-weight: 800;
}

.profile-info :first-child {
  font-size: small;
}

.profile-btn {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.profile-btn * {
  width: max(30%, 80px);
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #0369a1;
  color: #f7f8fc;
}
/*side starts here*/
.sidebar {
  height: 100%;
  position: fixed;
  grid-area: sidebar;
  background-color: #0369a1;
  text-transform: capitalize;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 50px;
  color: white;
  font-weight: 600;
  font-size: var(--default-size);
}

.dashboard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 30px;
  gap: 20px;
  font-size: calc(var(--default-size) + 10px);
}

.dashboard img {
  height: 60px;
}
.topbar,
.bottombar {
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.topbar > div,
.bottombar > div {
  display: flex;
  padding: 5px;
  gap: 10px;
  margin-left: 30px;
  align-items: center;
}

.topbar img,
.bottombar img {
  height: var(--default-size);
}

/*content starts here*/
.content {
  height: 100%;
  grid-area: content;
  background-color: #7dd3fc;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "project announcement" "project trending";
}

.project {
  grid-area: project;

  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project > p,
.anouncement > p,
.trending > p {
  font-weight: 600;
}
.project-container {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
}
.project-card {
  padding: 10px;
  background-color: #e0f2fe;
  border-radius: 20px;
  border-left: 10px solid rgb(255, 132, 0);
  font-size: var(--default-size);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.card-title {
  text-transform: capitalize;
  font-size: calc(var(--default-size) + 5px);
  font-weight: 600;
}
.card-btn {
  justify-self: right;
}
.card-btn a {
  margin: 10px;
}

.anouncement {
  grid-area: announcement;
  padding: 30px;
  display: grid;
  gap: 20px;
  grid-template-rows: auto 1fr;
}
.anouncement-container,
.trending-container {
  background-color: #e0f2fe;
  padding: 20px;
  border-radius: 20px;
}

.anouncement-container {
  display: grid;
  grid-template-rows: repeat(auto-fill, auto);
  gap: 20px;
}

.anouncement-title {
  text-transform: capitalize;
  font-size: var(--default-size);
  font-weight: 700;
  margin-bottom: 10px;
}
.anouncement-title + p {
  font-size: calc(var(--default-size) - 5px);
}

.trending {
  grid-area: trending;
  padding: 30px;
  display: grid;
  gap: 20px;
  grid-template-rows: auto 1fr;
}

.trending-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.trending-container {
  display: grid;
  grid-template-rows: repeat(auto-fill, auto);
  gap: 10px;
}

.trending-container > div {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
}

.trending-profile + div {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: left;
  align-content: center;
  font-size: calc(var(--default-size) - 5px);
}
.trending-profile + div :first-child {
  font-size: calc(var(--default-size) - 10px);
  color: #757677;
}
